[Unit]
Description=Local Gem Cache
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/mbriggs
ExecStart=/home/mbriggs/.gem/ruby/bin/gemstash start --no-daemonize

[Install]
WantedBy=default.target
